*{
    padding: 0%;
    margin: 0%;
}

/* navbar */
ul{
    list-style: none;
    background: rgb(193, 216, 195);
    display: flex;
    padding: 10px;
}
.left {
    margin-right: auto;
    display: block;
    padding: 20px 25px;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li a:hover{
    background:  rgb(156, 189, 159);
}

/* footer */
footer{
    background: rgb(193, 216, 195);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    overflow: auto;
}
footer p{
    width: 23%; /* each fourth (4 sections) */
    margin: 0;
    overflow: auto;
    padding: 20px 25px;
}
footer p a:hover{
    background:  rgb(156, 189, 159);
}
a:link {
    text-decoration: none;
}
a {
    color: white;

}

/* our names */
.names {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    flex-wrap: wrap;
    /* height: 100vh; to ensure it takes up whole screen*/
}
.circle {
    width: 15vw;
    height: 15vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 20%; /* for nice circle: 50%*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sarah {
    background-color: #f4f4f4;
}
.virgile {
    background-color: #f4f4f4;
}
.sophie {
    background-color: #f4f4f4;
}
.orsowen {
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}
/* text */
.container {
    display: flex;
    flex-wrap: wrap; /* Ensures responsiveness */
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 65%;
    margin: 20px auto;
    /* height: 100vh; */
}
.text{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.about{
    height: 100vh;
    padding-top: 50px;
}