<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="{{ url_for('static', path='browse.css') }}">
</head>
<body>
    <div class="image-container">
        <img src="static/image/pastel_background.png" alt="Japanese">
    </div>
    <nav>
        <ul>
            <li class="left">LEARN JAPANESE</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/browse">Browse</a></li>
            <li>{% if request.cookies.user %}
                <a href="/profile">Profile ({{ request.cookies.user }})</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}</li>
        </ul>
    </nav>
<!-- trying like learn.html -->
    <div class="container">
        <div class="left_text">
            <div class="centered">
                <h1>Browse</h1>
                <br><br>
                <p class="text">Welcome to the Browse section!
                    <br><br>
                    Here you can view word lists directly in Hiragana, Katakana and Kanji, 
                    and easily find the words that interest you. All you need to do is press 
                    the "Browse" button and then choose whether you want a list of words in 
                    Hiragana, Katakana or Kanji. 
                    <br><br>
                    Once you have chosen this, you will have access to all of the words in 
                    that list. Note that in the Kanji list there are different levels. N5 is 
                    the beginner level and N1 is the most difficult level.
                </p>
            </div>
            <br><br>
            <div class="dropdown">
                <div class="select">
                    <span class="selected">Browse</span>
                    <div class="caret"></div>
                </div>
                <ol class="menu">
                    <li><a href="#list">Hiragana</a></li>
                    <li><a href="#list">Katakana</a></li>
                    <li><a href="#list">Kanji</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div id=display_location></div>
    <footer>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About us</a></p>
        <p><a href="/learn">Learn</a></p>
        <p><a href="/browse">Browse</a></p>
        <p>{% if request.cookies.user %}
            <a href="/profile">Profile ({{ request.cookies.user }})</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}</p>
        <p>© 2025 Software Development Project | All rights reserved</p>
    </footer>
    <script id="data-json" type="application/json">
        {{ {
            "hiragana":hiragana,
            "katakana":katakana,
            "kanji":kanji
        } | tojson }}
    </script>
    <script src="../static/browse.js" defer></script>
</body>
</html>
