<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanji</title>
    <link rel="stylesheet" href="static/kanji.css">
</head>
<body>
    <div class="image-container">
        <img src="static/image/pastel_background.png" alt="Japanese">
    </div>
    <nav>
        <ul>
            <li class="left">LEARN JAPANESE</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/browse">Browse</a></li>
            <li>{% if request.cookies.user %}
                <a href="/profile">Profile ({{ request.cookies.user }})</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}</li>
        </ul>
    </nav>

    <h1>Kanji Flashcards</h1>
    <br>
    <p>Flashcards are sorted by level</p>

    <div class="container">
        <div class="left_text">
            <div class="circle n5"><a href="/kanji/N5">N5</a></div>
            <br>
            <div class="circle n4"><a href="/kanji/N4">N4</a></div>
        </div>
        <div class="right_text">
            <div class="circle n2"><a href="/kanji/N2">N2</a></div>
            <br>
            <div class="circle n3"><a href="/kanji/N3">N3</a></div>
            <br>
            <div class="circle n1"><a href="/kanji/N1">N1</a></div>
        </div>
    </div>
    
    <footer>
        <p><a href="/">Home</a></p>
        <p><a href="about.html">About us</a></p>
        <p><a href="learn.html">Learn</a></p>
        <p><a href="browse.html">Browse</a></p>
        <p>{% if request.cookies.user %}
            <a href="/profile">Profile ({{ request.cookies.user }})</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}</p>
        <p>© 2025 Software Development Project | All rights reserved</p>
    </footer>
</body>
</html>