<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="static/profile.css">
</head>
<body>
    <div class="image-container">
        <img src="static/image/pastel_background.png" alt="Japanese">
    </div>
    <nav>
        <ul>
            <li class="left">LEARN JAPANESE</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/browse">Browse</a></li>
            <li>{% if request.cookies.user %}
                <a href="/profile">Profile ({{ request.cookies.user }})</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}</li>
        </ul>
    </nav>
    
    <div>
    <div class="btn-field">
        <a href="/logout" class="button">Logout</a>
    </div>
    <div class="top">
        <h1 class="title">
            Welcome, {{ username }} !
        </h1> 
        <br><br>
        <div class="text">
            Scroll down to see your favorite's list!
        </div>
    </div>
    <table class="favorite_table">
        <thead class="favorite_table">
        <tr>
            <th>
                Vos favoris :
            </th>
        </tr>
        </thead>
        {% for item in favourites %}
            <tr>
                <td>
                    <div class="card" data-id="{{ item.id }}">
                        <div class="card-front">{{ item.kanji }} {{ item.kana }} {{ item.hiragana }} 
                            {{ item.onyomi }} {{ item.kunyomi }} {{ item.romaji }} {{ item.meaning }}
                            <button class="delete-btn">❌</button>
                        </div>
                    {% else %}
                        <div class="no_fav">Aucun favori pour le moment.</div>
                    {% endfor %}
                    </div>
                    <!-- <button id="delete-btn">Delete</button> -->
                </td>
            </tr>
    </table>

    <script src="static/profile.js"></script>
    <footer>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About us</a></p>
        <p><a href="/learn">Learn</a></p>
        <p><a href="/browse">Browse</a></p>
        <p> {% if request.cookies.user %}
            <a href="/profile">Profile ({{ request.cookies.user }})</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </p>
        <p>© 2025 Software Development Project | All rights reserved</p>
    </footer>
</body>
</html>

