<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="static/profile.css">
</head>
<body>
    <div class="image-container">
        <img src="static/image/pastel_background.png" alt="Japanese">
    </div>
    <nav>
        <ul>
            <li class="left">LEARN JAPANESE</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/browse">Browse</a></li>
            <li>{% if request.cookies.user %}
                <a href="/profile">Profile ({{ request.cookies.user }})</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}</li>
        </ul>
    </nav>
    <div class="page">
    <div class="btn-field">
        <a href="/logout" class="button">Logout</a>
    </div>
    <h1 class="title">Bienvenue, {{ username }} !</h1>
    <table class="favorite_table">
        <thead class="favorite_table">
        <tr>
            <th>
                Vos favoris :
            </th>
        </tr>
        </thead>
            <tr>
                <td>
                    <div class="card">
                        {% for item in favourites %}
                        <div class="card-front">{{ item.kanji }} {{ item.kana }} {{ item.hiragana }} 
                            {{ item.onyomi }} {{ item.kunyomi }} {{ item.romaji }} {{ item.meaning }}
                        </div>
                    {% else %}
                        <p>Aucun favori pour le moment.</p>
                    {% endfor %}
                        </div>
                </td>
            </tr>
    </table>
    </div>
    <footer>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About us</a></p>
        <p><a href="/learn">Learn</a></p>
        <p><a href="/browse">Browse</a></p>
        <p> {% if request.cookies.user %}
            <a href="/profile">Profile ({{ request.cookies.user }})</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </p>
        <p>© 2025 Software Development Project | All rights reserved</p>
    </footer>
</body>
</html>
