body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* adapts to different screen sizes */
    margin: 0;
}

/* holds all of the elements and determines the size of the card */
.maincontainer{
    position: relative;
    width: 500px;
    height: 335px;
}

/* holds front and back elements, and controls mouse interaction via hover */
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* w/o this, the card only shows the reverse of the front card */
    transition: 1s ease-in-out; /* smooth animation flip*/
}

/* controls the flip */
.thecard:hover{
    transform: rotateY(180deg);
}

/* default face */
.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* w/o will cause flickers in the flip */
    background: #f2dada;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'zilla slab', sans-serif;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 09);
}

/* reverse side of the card, shows the flip side */
.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #f2dada;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);/* back element flips to the front once we move the cursor away*/
    text-align: center;
    font-family: 'zilla slab', sans-serif;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 09);
}

/* button{
    margin-top: 370px;
    margin-left: 425px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(195, 187, 187);
    color: black;
    border-radius: 5px;
} */
#next{
    margin-top: 370px;
    margin-left: 425px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(195, 187, 187);
    color: black;
    border-radius: 5px;
}
#favourite{
    margin-bottom: 15px;
    margin-left: 400px;
    background-color: gold;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}